


<div class="card White goalFailed" >
    <div class="card-content">
        <h3>Goal was not met!</h3>
        <h6>{{goal.name}}</h6>
        <h5>Amount pledged {{goal.bounty}}</h5>
        If you wish to pay the amount pledged please confirm payment.

        After confirming your payment, the amount pledged will be donated to {{goal.charity}}.
    </div>


    <div class="card-action">
        <button type="button" ng-disabled="" ng-click="confirm('Are you sure you would like to play ' + {{ goal.bounty }}?" class="btn btn-primary waves-effect waves-light">Confirm Payment</button>
        <a href="#/login">Cancel</a>
    </div>
</div>