<div class="card White" >
    <div class="card-content">
        <h5>{{goal.name}}</h5>
        {{goal.description}}
        <h6>{{goal.expiration | date:'MM/dd/yyyy @ h:mma'}}</h6>
    </div>
    {{goal.status}}
    <div class="card-action">
        <a href="#/goal/{{goal.id}}">View Details</a>
        <button type="button" ng-click="vm.markComplete(goal.id)" class="btn btn-primary waves-effect waves-light">COMPLETED!</button>
        <a data-ng-click="vm.removeGoal(goal.id)"> Remove </a>
    </div>
</div>
