<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h4 class="card-header">Red Cross</h4>
                <div class="card-content charity-content">
                    <img src="../content/images/redcross.png" alt="Red Cross" class="charity-logo"/>
                    <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</p>
                    <div class="card-link">
                        <a href="http://www.redcross.org/" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h4 class="card-header">Humane Society</h4>
                <div class="card-content charity-content">
                    <img src="../content/images/humaneSociety.png" alt="Humane Society" class="charity-logo"/>
                    <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</p>
                    <div class="card-link">
                        <a href="http://www.humanesociety.org/" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h4 class="card-header">Anderson University</h4>
                <div class="card-content charity-content">
                    <img src="../content/images/anderson.png" alt="Anderson University" class="charity-logo"/>
                    <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</p>
                    <div class="card-link">
                        <a href="http://www.anderson.edu/" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
