<form name="profileForm">
    <div class="col-md-6 center-block" >
        <div class="card White " >
            <div class="card-content">
                <h3>Profile</h3>
                <div class="input-field" >
                    <input id="email" ng-model="vm.user.email" type="email" class="validate" autofocus required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input id="DisplayNameField" ng-model="vm.user.displayName" type="text" class="validate" required>
                    <label for="DisplayNameField">Display Name</label>
                </div>
                <div id="Preferences">
                    <h4>Preferences</h4>
                    <label style="display: block">Default Charity</label>
                    <select id="DefaultCharity" class="browser-default" ng-model="vm.user.defaultCharity"><option>test</option></select>
                </div>
                <div id="CreditCardForm">
                    <h4>Payment Information</h4>
                    <p>Fill out card below and hit 'Apply Changes' to create/update your current linked payment method. If you have a payment method linked already, you may delete by clicking the 'Remove Card' button.</p>
                    <p ng-if="vm.user.stripeCustomerId || true" class="green-text">
                        Currently Linked to Stripe
                        <button ng-click="vm.removeCard()" type="button" class="btn btn-danger waves-effect waves-light">Remove Card</button>
                    </p>
                    <br>
                    <div class="credit-card-input no-js" id="skeuocard">
                        <p class="no-support-warning">
                            Either you have Javascript disabled, or you're using an unsupported browser, amigo! That's why you're seeing this old-school credit card input form instead of a fancy new Skeuocard. On the other hand, at least you know it gracefully degrades...
                        </p>
                        <label for="cc_type">Card Type</label>
                        <select name="cc_type" ng-model="vm.card.cardType">
                            <option value="">...</option>
                            <option value="visa">Visa</option>
                            <option value="discover">Discover</option>
                            <option value="mastercard">MasterCard</option>
                            <option value="maestro">Maestro</option>
                            <option value="jcb">JCB</option>
                            <option value="unionpay">China UnionPay</option>
                            <option value="amex">American Express</option>
                            <option value="dinersclubintl">Diners Club</option>
                        </select>
                        <label for="cc_number">Card Number</label>
                        <input type="text" ng-model="vm.card.cardNumber" name="cc_number" id="cc_number" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19">
                        <label for="cc_exp_month">Expiration Month</label>
                        <input type="text" ng-model="vm.card.expMonth" name="cc_exp_month" id="cc_exp_month" placeholder="00">
                        <label for="cc_exp_year">Expiration Year</label>
                        <input type="text" ng-model="vm.card.expYear" name="cc_exp_year" id="cc_exp_year" placeholder="00">
                        <label for="cc_name">Cardholder's Name</label>
                        <input type="text" ng-model="vm.card.cardName" name="cc_name" id="cc_name" placeholder="John Doe">
                        <label for="cc_cvc">Card Validation Code</label>
                        <input type="text" ng-model="vm.card.cvc" name="cc_cvc" id="cc_cvc" placeholder="123" maxlength="3" size="3">
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button ng-click="vm.applyChanges()" type="button" class="btn btn-flat waves-effect waves-light">Apply Changes</button>
                <!--<a href="#/">do something</a>-->
            </div>
        </div>
    </div>
</form>
