<form name="profileForm">
    <div class="col-md-6 center-block" >
        <div class="card White " >
            <div class="card-content">
                <h3>Profile</h3>
                <div class="input-field" >
                    <input id="email" ng-model="vm.user.email" type="email" class="validate" autofocus required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input id="DisplayNameField" ng-model="vm.user.displayName" type="text" class="validate" required>
                    <label for="DisplayNameField">Display Name</label>
                </div>
                <div id="Preferences">
                    <h4>Preferences</h4>
                    <label style="display: block">Default Charity</label>
                    <select id="DefaultCharity" class="browser-default" ng-options="c.key as c.val for c in vm.charities" ng-model="vm.user.defaultCharity"></select>
                </div>
                <!--
                <div id="CreditCardForm">
                    <h4>Payment Information</h4>
                    <p>Fill out card below and hit 'Apply Changes' to create/update your current linked payment method. If you have a payment method linked already, you may delete by clicking the 'Remove Card' button.</p>
                    <p ng-if="vm.user.stripeCustomerId || true" class="green-text">
                        Currently Linked to Stripe
                        <button ng-click="vm.removeCard()" type="button" class="btn btn-danger waves-effect waves-light">Remove Card</button>
                    </p>
                    <br>
                    <pay-card card="vm.card"></pay-card>
                </div>
                -->
            </div>
            <div class="card-action">
                <button ng-click="vm.applyChanges()" type="button" class="btn btn-flat waves-effect waves-light">Apply Changes</button>
                <!--<a href="#/">do something</a>-->
            </div>
        </div>
    </div>
</form>
