#LoginPage {
    background-image: url("../images/login_background.jpg");
}

.center-block {
    float:none;
}

/*login card*/
.loginCard {
    margin-top: 50px;
    height:330px;
}

.total-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
}

.registerCard {
    margin-top: 50px;
    height:450px;
}

.goalFailed:hover {
    outline: 1px solid red;
}

/* goal styles */
.goalViewSelectorDirective {
    margin-left: 15px;
    width: 300px;
}

.goalContent {
    position: absolute;
    left:330px;
    top:72px;
    width:600px;
}

.datepicker {
   width:150px !important;
}

/*card styles*/
.card-header {
    border-bottom: solid 1px;
    border-color: #C9C9C9;
    padding: 0px 0px 12px 20px;
    margin-bottom: 0px;
}

img.charity-logo {
    height: 80px;
    margin-top: -61px;
    margin-right: 5%;
    float: right;
}

.card .card-content .charity-content {
    float: left;
    clear: both;
}

.card .card-link {
    padding: 20px 0px 0px 0px;
}

.card .card-link a {
    margin-right: 20px;
    text-transform: uppercase;
}

.dashCard {
    width:600px;
    margin-left: 20px;
}
