.center-block {
    float:none;
}

/*login card*/
.loginCard {
    margin-top: 50px;
    height:330px;
}

.registerCard {
    margin-top: 50px;
    height:450px;
}

.goalViewSelectorDirective {
    margin-left: 15px;
    width: 300px;
}